{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Program index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Summary</th>
                <th>Poster</th>
                <th>Acteurs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.title }}</td>
                <td>{{ program.summary }}</td>
                <td>{{ program.poster }}</td>
                <td>
                    {% for actor in program.actors %}
                        {{ actor.name }},
                    {% else %}
                        Aucun acteur pour cette série
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('program_show', {'slug': program.slug}) }}" class="text-success btn btn-warning mt-3">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('program_edit', {'slug': program.slug}) }}" class=" text-success btn btn-warning mt-3 mb-3">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('program_new') }}">Create new</a>
{% endblock %}
