{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <div>
        <h1 class="">{{ program.title }} <a id="watchlist" href="#"  data-href={{ path('program_watchlist', {'id': program.id}) }} class="watchlist {{ app.user.isInWatchlist(program) ? 'active' : '' }}">
            <i  class="far fa-heart"></i>
            </a></h1>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ program.poster }}</td>
            </tr>
            <strong>Acteur :</strong>
            <div>
                {% for actor in program.actors %}
                    <a href="{{ path('actor_show', {'slug': actor.slug}) }}">{{ actor.name }}</a>
                {% else %}
                    <li class="list-unstyled" >Aucun acteur pour cette série</li>
                {% endfor %}
            </div>
        </tbody>
    </table>



    <a href="{{ path('program_index') }}">back to list</a>

    <a href="{{ path('program_edit', {'slug': program.slug}) }}">edit</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     {{ encore_entry_script_tags('watch') }}
 {% endblock %}