{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}



{% block body %}

    <div class="row align-items-center">
        <div class="col-5 ">
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_row(form.searchField) }}
        </div>
    </div>

    <button type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(form) }}

    <h1>Toutes les séries par genre : </h1>

    {% for program in programs %}
        <div class="card-body overflow-auto">
            <h2 class="card-title ">{{ program.title }}</h2> <h5> Catégorie : {{ program.category.name }}</h5>
            <p>{{ program.summary }}</p>
        </div>

        <div class="container-fluid text-center">
            <div class="d-flex flex-row mt-5">
                <div class="card text-center">
                    <div class="card-body overflow-auto">
                        <img src="{{ program.poster }}" class="card-img-top" alt="affiche de {{ program.title }}">
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <a href="{{ path('wild_show_programId', {programId: program.id({' ': '-'})}) }}"
               class="btn btn-secondary btn-lg">Voir les saisons </a>
        </div>


    {% else %}
        Merci de faire une nouvelle recherche.
    {% endfor %}

    <div>
    </div>

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}